@inherits LayoutComponentBase

<PageTitle>BlazorAuth</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="./Identity/Account/Login" target="_perent">Login</a>
            <hr>
            <a href="./Identity/Account/Logout" target="_perent">Logout</a>
            <hr>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>