@page "/"
@using BlazorAuth.Areas.Identity.Pages.Account

<PageTitle>Index</PageTitle>

<h1>Broxel Dependencias</h1>

<div class="top-row px-0">
    <h4><a href="./Identity/Account/Register" target="_parent">Register</a></h4>            
</div>
